.App-header {
  background-color: white;
  min-height: 100vh;
}


.page {
  display: flex;
}

.left-section {
  width: 15%;
  padding: 20px;
  background-color: #D4D4D4;
  min-height: 100vh;
}

.right-section {
  width: 85%;
  padding: 20px;
}